<?php

use PhpCsFixer\Config;
use PhpCsFixer\Finder;

$finder = Finder::create()
    ->in([
        'src',
        'tests',
    ]);

return Config::create()
    ->setRules([
        '@PSR2' => true,
    ])
    ->setFinder($finder);
